.clothing-details {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}
.detail-card-display{
  width: 100vw;
}

.vital-info {
  background-color: rgba(231, 229, 229, 0.91);
  width:95%;
  margin-top: 1rem;
  margin-left: 2rem;
 
}
article{
  margin-top:6rem;
  margin-bottom: 3rem;
  min-width:35% 
}
article > img {
  width:70%; 
}


.details-cont{
  display: flex;
  flex-direction: column;
  height:auto;
  width: 80%;
  margin-left: 1rem;
}
 .info-wrap {
  display: flex;
  flex-direction: column;
 }
.trait-wrap{
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
  margin-left: 2rem;
  margin-right: 2rem; 
  box-shadow: 0px 2px .03px rgba(0, 0, 0, 0.19);
}
.desc-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.desc-area > p {
  font-size: large;
  font-weight: 400;
}
.details-btn {
  padding:1rem;
  width: 40%;
  border-radius: 14px;
  margin-bottom:.5rem;
  font-weight: 600;
  font-size: large;
}
.details-btn:hover{
  background-color: rgb(126, 201, 233);
  color:white; 
  cursor: grab;
}

@media(min-width: 1000px){
  .detail-card-display {
      display: flex;
      flex-direction: row;
    }

  .detail-card-display {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
 
  }
  article {
    margin-top: 6rem;
    margin-left:2rem;  
  }
  article> img {
    width:85%; 
  }

  .vital-info {
    background-color: lightgray;
    margin-top: 1rem;
    width:85%; 
    border-radius: 13px;
    height:12rem;
  }
  .trait-wrap {
    margin-top: 1rem;
    margin-right: 8rem;
    margin-left: 7rem;
    box-shadow: 0px 2px .03px rgba(0, 0, 0, 0.098);
    width: 75%;
  }
  .desc-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right:3rem;  
  }
  
   
  
}