.market-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px 0;
  flex-wrap: wrap;
  padding: 0 2.5% 25px;
}

.loading-div {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
