.cta-box {
  height: 20rem;
  background-image: url(../../assets/cta.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  overflow: auto;
  display: flex;
  align-items: center;
  padding-left: 7%;
}

.cta {
  width: 25%;
}

.cta-hidden {
  display: none;
}

.cta h2 {
  font-size: 30px;
}

.cta a, .cta a:visited {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.cta a:hover {
  text-decoration: underline;
}

.home-label {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.cat-container {
  padding: 0 3%
}

.cat-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 0;
  width: 75%;
  margin: 0 auto;
}

.cat-link {
  display: block;
  text-decoration: none;
  width: 23%;
  color: black;
  font-size: 1.1rem;
}

.cat-img {
  transition: transform 0.25s;
  width: 100%;
  margin-bottom: 10px;
}

.cat-img:hover {
  transform: scale(1.1)
}

.art-container {
  height: 300px;
  width: 80%;
  margin: 0 auto;
}

swiper-container {
  height: 75%;
  --swiper-theme-color: #000;
}

swiper-slide, .art-link {
  height: 100%;
}

.art-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  text-decoration: none;
  color: black;
}

.art-link img {
  max-height: 90%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .cat-box {
    width: 90%;
  }

  .cat-link {
    width: 45%;
  }

  .cta {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
  }

  .cta h2 {
    font-size: 25px;
  }

  .cta-visible {
    display: none;
  }

  .cta-hidden {
    display: block;
  }
}