.logo-link {
  display: block;
  height: 65px;
  width: 23%;
  margin: 10px auto 0;
}

.logo {
  height: 100%;
  max-width: 100%;
}

.nav-container {
  display: block;
  text-align: center;
}

.nav-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.nav-grid {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button, .nav-button:visited {
  text-decoration: none;
  color: rgb(165, 165, 165);
}

.nav-button:hover {
  color: #000;
}

.selected, .selected:visited {
  color: black;
}

.dropbutton, .nav-bar {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.75rem;
}

.dropbutton {
  border: none;
  background: transparent;
  color: rgb(165, 165, 165);
}

.dropbutton:hover {
  color: #000;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  float: right;
}

.dropdown-options a {
  color: black;
  padding: 12px 28px;
  text-decoration: none;
  display: block;
  outline: 1px solid black;
  margin-top: 1px;
  margin-left: 1px;
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a:hover {
  color: white;
  background-color: black;
}

/* Mobile Sizes */
@media screen and (max-width: 1000px) {
  
}